!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")/
    %title== #{page.meta['title']} - babushka
    %link(href="/styles/styles.css" media="screen" rel="stylesheet" type="text/css")/
    %meta(content="pith 0.2.3" name="generator")/
    /[if lte IE 8]
      :javascript
        // html5shiv MIT @rem remysharp.com/html5-enabling-script
        // iepp v1.6.2 MIT @jon_neal iecss.com/print-protector
        /*@cc_on(function(m,c){var z="abbr|article|aside|audio|canvas|details|figcaption|figure|footer|header|hgroup|mark|meter|nav|output|progress|section|summary|time|video";function n(d){for(var a=-1;++a<o;)d.createElement(i[a])}function p(d,a){for(var e=-1,b=d.length,j,q=[];++e<b;){j=d[e];if((a=j.media||a)!="screen")q.push(p(j.imports,a),j.cssText)}return q.join("")}var g=c.createElement("div");g.innerHTML="<z>i</z>";if(g.childNodes.length!==1){var i=z.split("|"),o=i.length,s=RegExp("(^|\\s)("+z+")",
        "gi"),t=RegExp("<(/*)("+z+")","gi"),u=RegExp("(^|[^\\n]*?\\s)("+z+")([^\\n]*)({[\\n\\w\\W]*?})","gi"),r=c.createDocumentFragment(),k=c.documentElement;g=k.firstChild;var h=c.createElement("body"),l=c.createElement("style"),f;n(c);n(r);g.insertBefore(l,
        g.firstChild);l.media="print";m.attachEvent("onbeforeprint",function(){var d=-1,a=p(c.styleSheets,"all"),e=[],b;for(f=f||c.body;(b=u.exec(a))!=null;)e.push((b[1]+b[2]+b[3]).replace(s,"$1.iepp_$2")+b[4]);for(l.styleSheet.cssText=e.join("\n");++d<o;){a=c.getElementsByTagName(i[d]);e=a.length;for(b=-1;++b<e;)if(a[b].className.indexOf("iepp_")<0)a[b].className+=" iepp_"+i[d]}r.appendChild(f);k.appendChild(h);h.className=f.className;h.innerHTML=f.innerHTML.replace(t,"<$1font")});m.attachEvent("onafterprint",
        function(){h.innerHTML="";k.removeChild(h);k.appendChild(f);l.styleSheet.cssText=""})}})(this,document);@*/
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10872023-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  %body{:class => page.meta['title'].downcase.gsub(' ', '-').gsub(/[^a-z\\-]/, '')}
    %aside{:role => "contentinfo"}
      %a.ref{:href => "https://github.com/benhoskings/babushka.me/commit/#{git_ref}", :rel => "external"}= git_ref

    %nav
      %section
        %h1
          %a(href="/")
            %img{:alt => "babushka logo", :src => "/images/babushka.png"}/
      %section
        %h2 Hello
        %p
          %a(href="/overview") Overview
          %a(href="/installing") Installing
      %section
        %h2 Documentation
        %p
          %a(href="/running-babushka") Running babushka
          %a(href="/finding-deps") Finding deps
          %a(href="/dep-sources") Dep sources
          %a(href="/running-deps") Running deps
          %a(href="/how-deps-work") How deps work
          %a(href="/writing-deps") Writing deps
          %a(href="/sharing-deps") Sharing deps
      %section
        %h2 Reference
        %p
          %a(href="http://rubydoc.info/github/benhoskings/babushka/master/frames") yardoc
          %a(href="http://github.com/benhoskings/babushka") github
      %section
        %h2 Community
        %p
          %a(href="http://twitter.com/babushka_app") @babushka_app
          %a(href="http://groups.google.com/group/babushka_app/topics") Mailing List
          %a(href="irc://chat.freenode.net/#babushka") #babushka on freenode

    %article
      - unless page.meta['title'] == 'Babushka'
        %h1= page.meta['title']

      = yield

    :javascript
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4e488f6ef5a1f5779d000001');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
